@charset "utf-8";
/* CSS Document */



img {
	border:none;
}
ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
	list-style-position:inside;
}
#herder {
	width:auto;
	height:53px;
	/*background:#42454a;*/

	margin-bottom:30px;
	background-image:url(../images/Nav_bg.png);
	background-repeat:repeat-x;
}
#top {
	width:1210px;
	height:55px;
	margin:0px auto;
	padding:0px;
}
#top img {
	border:0px;
	float:left;
	margin:11px 40px 11px 10px;
}
#top a {
	width:auto;
	float:left;
	color:#eee;
	height:25px;
	padding:14px 24px;
	/*padding:5px 15px;

	margin:8px auto;

*/	line-height:25px;
	display:list-item;
	font-size:16px;
	background-image:url(../images/Nav_Line.png);
	background-repeat:no-repeat;
	background-position:left;
}
#top a:hover {
	color:#fff;
	background:#242424;
	background-image:url(../images/Nav_Line.png);
	background-repeat:no-repeat;
	background-position:left;
}
#top a.line {
	background-image:url(../images/Nav_Line.png);
	background-repeat:no-repeat;
	width:2px;
	height:51px;
	padding:0px;
}
#top a.a {
	display:block;
	width:135px;
	height:30px;
	color:#E9E9E9;
	float:right;
	margin:12px 15px 12px 0px;
	text-align:center;
	line-height:30px;
	background:#474646;
	padding:0px;
	border:1px solid #242424;
}
#top a.a1 {
	background:#999;
	color:#333;
	display:none;
	width:135px;
	height:30px;
	float:right;
	margin:12px 15px 12px 0px;
	text-align:center;
	line-height:30px;
	padding:0px;
	border:1px solid #242424;
}
#top a span {
	color:#da3610;
	font-weight:bold;
}
#nav {
	width:1210px;
	height:75px;
	margin:0px auto;
	font-size:12px;
	background:#e1e1e1;
	border-bottom:#da3610 5px solid;
}
#nav img {
	float:left;
	margin:12px 10px;
	border:#ccc 1px solid;
}
#nav ul.ul {
	width:185px;
	height:39px;
	float:left;
	padding:18px 0px;
	background-image:none;
}
#nav ul.ul li {
	width:100%;
	height:20px;
	color:#000;
	padding:0px;
	text-align:left;
	line-height:20px;
}
#nav ul.ul li strong {
	display:block;
	width:auto;
	float:left;
	margin-right:5px;
}
#nav ul.ul li img {
	margin:0px;
	padding:0px;
}
#nav ul.ul2 {
	width:238px;
	height:49px;
	float:left;
	padding:13px 0px;
	background-image:none;
}
#nav ul.ul2 li {
	color:#000;
	width:77%;
	height:25px;
	text-align:left;
	text-indent:4.5%;
	line-height:25px;
}
#nav ul {
	width:238px;
	height:49px;
	float:left;
	padding:13px 0px;
	background-repeat:no-repeat;
	background-position:1px 0px right;
	background-image:url(../images/nav-Line.png);
}
#nav ul li {
	color:#000;
	width:77%;
	height:25px;
	text-align:left;
	padding-left:56px;
	line-height:25px;
}
#Frame {
	overflow:hidden;
	width:1210px;
	background:#e1e1e1 url(../images/menu_bg.png) -3px 0px repeat-y;
	margin:0px auto;
	clear:both;
}
#floatline {
	display:none;
	height:0px;
	position:fixed;
	border-bottom:#da3610 5px solid;
	width:1210px;
	z-index:999;
}
#Menu {
	width:260px;
	height:100%;
	float:left;
}
.shadow {
	border:1px #cccccc solid;
 filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090, direction=120, strength=4);/*ie*/
	-moz-box-shadow: 1px 1px 10px #909090;/*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
	box-shadow: 1px 1px 10px #cccccc;/*opera或ie9*/
}
.contab {
	clear:both;
}
.metro-sidenav li a.brown:hover {
	background:#7a0423;
}
.metro-sidenav li a.orange:hover {
	background:#983114;
}
.metro-sidenav li a.bondi-blue:hover {
	background:#066b79;
}
.metro-sidenav li a.green:hover {
	background:#306630;
}
.metro-sidenav li a.blue-violate:hover {
	background:#2c1470;
}
.metro-sidenav li a.dark-yellow:hover {
	background:#b06700;
}
.metro-sidenav li a.magenta:hover {
	background:#7f0184;
}
.metro-sidenav li a.blue:hover {
	background:#01316c;
}
#tagContent li {
	position: relative;
}
.cateradio {
	padding-top: 20px;
}
.cateradio li {
	float: left;
	margin: 0 0 20px 20px;
	width: 170px;
	height: 383px;
	text-align: center;
	background: url(../img/radio_iphone0.png) no-repeat center top;
	position: relative;
}
.cateradio li:hover {
	background: url(../img/radio_iphone.png) no-repeat center top;
}
.cateradio li:active {
	background: url(../img/radio_iphone.png) no-repeat center top;
}
.cateradio li.active {
	background: url(../img/radio_iphone.png) no-repeat center top;
}
li .mbtip {
	display: none;
}
li:hover .mbtip {
	position: absolute;
	top: 60px;
	right: -30px;
	display: block;
	width: 90px;
	padding: 6px;
	background-color: #000;
	color: #FFF;
	border-radius: 7px;
	text-align: left;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
	z-index: 999;
}
audio, canvas, video {
	display: inline-block;
 *display: inline;
 *zoom: 1
}
 audio:not([controls]) {
 display: none
}
.radio, .checkbox {
	min-height: 20px;
	padding-left: 20px
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
	float: left;
	margin-left: -20px
}
.controls>.radio:first-child, .controls>.checkbox:first-child {
	padding-top: 5px
}
.radio.inline, .checkbox.inline {
	display: inline-block;
	padding-top: 5px;
	margin-bottom: 0;
	vertical-align: middle
}
.radio.inline+.radio.inline, .checkbox.inline+.checkbox.inline {
	margin-left: 10px
}
.form-horizontal .controls {
 *display: inline-block;
 *padding-left: 20px;
	margin-left: 180px;
 *margin-left: 0
}
.ChooseImage {
	margin-left:5px;
	padding: 4px 7px;
	color: #FFF;
	border-radius: 3px;
	border: solid 1px #1c6a9e;
	background: #2288cc;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
	background: linear-gradient(top, #33bbee, #2288cc);
	background: -moz-linear-gradient(top, #33bbee, #2288cc);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc));
	text-shadow: -1px -1px 1px #1c6a9e;
}
