@charset "UTF-8";

/* ͶƱ˵�� */
section .sm{padding:10px;}
section .sm img{display:block;max-width:100%;}
section .sm .f14{font-size:14px;}
section .sm p{font-size:12px;color:#666;line-height:24px;}


