@charset "gb2312";
/* CSS Document */



.bot_main{
  width:100%; height:50px; background-image:-webkit-linear-gradient(top,#fff 0,#e1e1e1 100%); background-image:linear-gradient(to bottom,#fff 0,#e1e1e1 100%); position:fixed; bottom:0px; z-index:9999;
}

.bot_main li{
  float:left;
}

.bot_main img{
  -webkit-transform:scale(1) rotate(0) translate3d(0,0,0); transform:scale(1) rotate(0) translate3d(0,0,0); width:25px; height:auto;
}

.bot_main li.ico_1{
  width:25%; height:50px; background:url(i5.jpg) right no-repeat;
}

.bot_main li.ico_1:active{
  background-image:-webkit-linear-gradient(top,#fff 0,#c5c5c5 100%); background-image:linear-gradient(to bottom,#fff 0,#c5c5c5 100%);
}

.bot_main li.ico_1:visited{
  background-image:-webkit-linear-gradient(top,#fff 0,#e1e1e1 100%); background-image:linear-gradient(to bottom,#fff 0,#e1e1e1 100%);
}

.bot_main li.ico_2{
  width:25%; height:50px; background:url(i5.jpg) right no-repeat; border:none; outline:none;
}

.bot_main li.ico_2:active{
  background-image:-webkit-linear-gradient(top,#fff 0,#c5c5c5 100%); background-image:linear-gradient(to bottom,#fff 0,#c5c5c5 100%);
}

.bot_main li.ico_2:visited{
  background-image:-webkit-linear-gradient(top,#fff 0,#e1e1e1 100%); background-image:linear-gradient(to bottom,#fff 0,#e1e1e1 100%);
}

.bot_main li.ico_3{
  width:25%; height:50px; background:url(i5.jpg) right no-repeat; border:none; outline:none;
}

.bot_main li.ico_3:active{
  background-image:-webkit-linear-gradient(top,#fff 0,#c5c5c5 100%); background-image:linear-gradient(to bottom,#fff 0,#c5c5c5 100%);
}

.bot_main li.ico_3:visited{
  background-image:-webkit-linear-gradient(top,#fff 0,#e1e1e1 100%); background-image:linear-gradient(to bottom,#fff 0,#e1e1e1 100%);
}

.bot_main li.ico_4{
  width:25%; height:50px;
}

.bot_main li.ico_4:active{
  background-image:-webkit-linear-gradient(top,#fff 0,#c5c5c5 100%); background-image:linear-gradient(to bottom,#fff 0,#c5c5c5 100%);
}

.bot_main li.ico_4:visited{
  background-image:-webkit-linear-gradient(top,#fff 0,#e1e1e1 100%); background-image:linear-gradient(to bottom,#fff 0,#e1e1e1 100%);
}

.bot_main span{
  display:inline-block; width:100%; height:50px;
}

.bot_main span.ico{
  display:inline-block; width:100%; height:20px; padding-top:5px; text-align:center;
}

.bot_main span.ico img{
  -webkit-transform:scale(1) rotate(0) translate3d(0,0,0); transform:scale(1) rotate(0) translate3d(0,0,0); width:22px; height:auto;display: block;
border: 0px none;
margin: 0px auto;
padding: 0px;
vertical-align: middle;
}

.bot_main span.txt{
  width:100%; height:20px; text-align:center;
}

